/* ************************************************************************** */
/* ************************** *//* **IMPORT** *//* ************************** */
/* ************************************************************************** */
@font-face {
    font-family: "calibri-regular";
    src: url("/css/fonts/calibri-font-family/calibri-regular.ttf");
}
@font-face {
    font-family: "calibri-bold";
    src: url("/css/fonts/calibri-font-family/calibri-bold.ttf");
}
/* ************************************************************************** */
/* ************************** *//* **PARAMS** *//* ************************** */
/* ************************************************************************** */
html {
    --color-fof: #f0f;
    --color-vert-fonce: #58A87D;
    --color-vert-clair: #73F5AF;
    --color-orange: #F59F68;
    --color-bleu-fonce: #3669A8;
    --color-bleu-clair: #5BA0F5;

    font-size: 1rem;
}
body {
    font-family: "calibri-regular";
    background-color: var(--color-vert-fonce);

    display: flex;
    justify-content: space-between;
    flex-flow: column;
}
/* ************************************************************************** */
/* ************************** *//* **HEADER** *//* ************************** */
/* ************************************************************************** */
.header {
    background-color: var(--color-bleu-clair);
    height: 30vh;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.header__block {
    background-color: var(--color-bleu-fonce);
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.header__block-title {
    color: var(--color-fof);
    font-size: 5rem;
}
/* ************************** *//* ****NAV*** *//* ************************** */
.nav {
    height: 30vh;

    display: flex;
    flex-flow: column;
    justify-content: center;
}
.nav__block{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.nav__block-link{
    font-size: 1.3rem;
    font-family: "calibri-bold";
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-fof);

    background-color: var(--color-bleu-fonce);
    border: 1px solid var(--color-orange);
    border-radius: 10px;
    padding: 1vh;
}
.nav__block-link:hover {
    background-color: var(--color-orange);
    border: 1px solid var(--color-bleu-fonce);
}
/* ************************************************************************** */
/* ************************** *//* ***MAIN*** *//* ************************** */
/* ************************************************************************** */
.main {
    background-color: var(--color-vert-clair);
    color: var(--color-orange);
    height: 50vh;
    font-size: 6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.main__product {
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.main__product-list {
    margin: 5vh;
}
/* ************************************************************************** */
/* ************************** *//* **FOOTER** *//* ************************** */
/* ************************************************************************** */
.footer {
    background-color: var(--color-bleu-fonce);
    color: var(--color-fof);
    height: 15vh;
    font-size: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
/* ************************************************************************** */
/* ************************** *//* **MEDIAS** *//* ************************** */
/* ************************************************************************** */
@media screen and (max-width:500px) {
    .header {
        height: 60vh;
    }
    .nav__block {
        flex-flow: column;
        width: 70vw;
    }
    .nav__block-link {
        margin: 0.5vh 0 0.5vh 1.5vh;
    }
}
