<div class="nav">
    <nav class="nav__block">
        <a href="/" class="nav__block-link">Home Page</a>
        <a href="/product" class="nav__block-link">Liste des produits</a>
        <a href="/product/sertpour/function" class="nav__block-link">Produits pour manger</a>
        <a href="/category" class="nav__block-link">liste des categories</a>
        <a href="/function" class="nav__block-link">liste des fonctions</a>
        <a href="/place" class="nav__block-link">liste des lieux</a>
        <a href="/user" class="nav__block-link">liste des utilisateur</a>
        <a href="/user/form" class="nav__block-link">ajouter un utilisateur</a>
        <a href="/vanilla" class="nav__block-link">vanilla JS</a>
        <a href="/search" class="nav__block-link">recherche de produit ?</a>
        <a href="/place/where/1" class="nav__block-link">lieux quand id = 1</a>
    </nav>
</div>