<div class="nav">
    <nav class="nav__block">
        <a href="#" class="nav__block-link">dead</a>
        <a href="#" class="nav__block-link">dead</a>
        <a href="#" class="nav__block-link">dead</a>
    </nav>
</div>