<%- include("./partial/head")  %> 

    <header class="header">
        <div class="header__block">
            <h1 class="header__block-title">Liste des Produits</h1>
        </div>
        <%- include("./component/nav")  %>
    </header>

    <main class="main">
        
        <p>Voila c'est la page 404 :)</p>

    </main>

    <footer class="footer">
        <p>Orvoir</p>
    </footer>

<%- include("./partial/footer")  %> 