<%- include("./partial/head")  %> 

    <header class="header">
        <div class="header__block">
            <h1 class="header__block-title">Vanilla JS</h1>
        </div>
        <%- include("./component/nav")  %> 
    </header>
    <main class="main">
        <p id="clickme" class="clickme">Click Me</p>

    </main>
    <footer class="footer">
        <p>Orvoir</p>
    </footer>

    <script src="js/vanilla.js"></script>
<%- include("./partial/footer")  %> 